* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWV5a3NxcDhpNGxvc3ppdm9tY3phc3J0dTBqZjcxNW9yejU1aG9yciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QjuFNYKiGXZpTA1mQe/giphy.gif");

}

header {
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    position: sticky;
    top: -10px;
    height: 100px;
    width: 70%;
    margin: auto;
    background: linear-gradient(300deg, #914F1E, #DEAC80, #F7DCB9);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;   
}

#modal-image{
    width: 100%;
    margin-left: 3px;
}


.buttons {
    text-align: center;
}

.home-btn {
    background-color: white;
    color: black;
    margin-left: 630px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}


footer  {
    text-align: center;
    color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.gallery {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
   
}

figcaption {
    color: white;
    text-align: center;
    font-size: 2rem;

}

figure {
    margin-top: 50px;
    
}

img {
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid white;
    margin: 3px;
}

img:hover {
    border: 3px solid yellow;
    cursor: pointer;
}




  